  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{{ '/' | relative_url }}" class="logo d-flex align-items-center me-auto me-xl-0">
        <img src="{{ '/assets/img/logo-header.webp' | relative_url }}" width="393" height="144" alt="Logo de Gas'in Sary, studio de communication visuelle et de création web à Madagascar">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ '/' | relative_url }}"{% if page.url == '/' %} class="active"{% endif %}>Accueil</a></li>
          <li><a href="{{ '/#about' | relative_url }}">À propos</a></li>
          <li><a href="{{ '/#resume' | relative_url }}">Parcours</a></li>
          <li><a href="{{ '/portfolio/' | relative_url }}"{% if page.url contains '/portfolio/' %} class="active"{% endif %}>Portfolio</a></li>
          <li class="dropdown"><a href="{{ '/#services' | relative_url }}"{% if page.url contains '/creation-logo' %} class="active"{% endif %}><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{{ '/#services' | relative_url }}">Tous nos services</a></li>
              <li><a href="{{ '/creation-logo-identite-visuelle/' | relative_url }}">Logo et identité visuelle</a></li>
            </ul>
          </li>
          <li><a href="{{ '/externalisation-creation-graphique-madagascar/' | relative_url }}"{% if page.url contains '/externalisation' %} class="active"{% endif %}>Agences</a></li>
          <li><a href="{{ '/blog/' | relative_url }}"{% if page.url contains '/blog/' %} class="active"{% endif %}>Blog</a></li>
          <li><a href="{{ '/#contact' | relative_url }}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <div class="header-social-links">
        <a href="https://www.facebook.com/gasinsary" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/gasin.sary" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/gasinsary" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header>
